tornado~=6.1
cryptography~=37.0.2
asyncio~=3.4.3
requests~=2.28.0
nuitka
coloredlogs~=15.0.1
customtkinter~=4.5.5
tk-tools~=0.16.0
py7zr~=0.20.2
ordered-set
msgpack~=1.0.4
zstandard
ipaddress~=1.0.23
matplotlib~=3.5.2
psutil~=5.9.2
Pympler~=1.0.1
pandas~=1.5.2
aiohttp