<!doctype html>
<html data-bs-theme="dark" lang="en">
   <head>
            <link rel="stylesheet" href="graphics/style.css">
      <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
         integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" rel="stylesheet">
      <title>NADO Explorer</title>
   </head>
   <body>
         <div class="container">
  <div class="padded-div"><img src="/graphics/180_logo.png" style="width:80px;height:80px;" alt="Node is OK"><h2>NADO account</h2></div>
         <div class="mb-3">
            <form>
               <button class="btn btn-lightbtn-lg active" formaction="/" role="button">Home</button>
               <button class="btn btn-lightbtn-lg active" formaction="/get_supply" role="button">Supply</button>
               <a class="btn btn-lightbtn-lg active" href="{{node}}" role="button">API</a>
            </form>
         </div>
         <form action="#" method="get">
            <div class="mb-3">
               <h4>Search</h4>
               <input aria-describedby="entryHelp" class="form-control" formaction=# id="entry" name="entry" placeholder="Your query"
                  required type="text">
               <small class="form-text text-muted" id="entryHelp">Enter whatever you are looking for and press one of the
               buttons</small>
            </div>
            <div class="mb-3">
               <button class="btn btn-lightbtn-lg active" formaction="/get_transaction" role="button">Transaction</button>
               <button class="btn btn-lightbtn-lg active" formaction="/get_account" role="button">Account</button>
               <button class="btn btn-lightbtn-lg active" formaction="/get_account_txs" role="button">Account transactions</button>
               <button class="btn btn-lightbtn-lg active" formaction="/get_block_number" role="button">Block number</button>
               <button class="btn btn-lightbtn-lg active" formaction="/get_block" role="button">Block hash</button>
            </div>
         </form>
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">Address</th>
                  <th scope="col">Balance</th>
                  <th scope="col">Produced</th>
                  <th scope="col">Burned</th>
                  <th scope="col">Penalty</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><a href="/get_account_txs?entry={{data['address']}}">{{data["address"]}}</a></td>
                  <td>{{data["balance"]}}</td>
                  <td>{{data["produced"]}}</td>
                  <td>{{data["burned"]}}</td>
                  <td>{{data["penalty"]}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>