<!doctype html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
    <title>NADO Explorer</title>


</head>

<body>
<div class="container">

    <h2>NADO Explorer</h2>
</div>

<div class="container">


<form>
<button class="btn btn-primary" formaction="/" role="button">Home</button>
<button class="btn btn-primary" formaction="/get_supply" role="button">Supply</button>
</form>

<div class="container">
<form method="get" action="#">


<label for="entry">Entry</label>
<input type="text" required class="form-control" id="entry" name="entry" aria-describedby="entryHelp" placeholder="Your query" formaction=#>
<small id="entryHelp" class="form-text text-muted">Enter whatever you are looking for and press one of the buttons</small>

    <div class="container">

<button class="btn btn-primary" formaction="/get_transaction" role="button">Transaction</button>
<button class="btn btn-primary" formaction="/get_account" role="button">Account</button>
<button class="btn btn-primary" formaction="/get_account_txs" role="button">Account transactions</button>
<button class="btn btn-primary" formaction="/get_block_number" role="button">Block number</button>
<button class="btn btn-primary" formaction="/get_block" role="button">Block hash</button>
        </div>
</form>




</div>

<table class="table">
    <thead>
      <th scope="col">Latest block info</th>
      </thead>
    <tbody>
      <tr>
          <th scope="col">Block number</th>
          <td>{{data["block_number"]}}</td>
      </tr>
      <tr>
          <th scope="col">Block hash</th>
          <td>{{data["block_hash"]}}</td>
      </tr>
      <tr>
          <th scope="col">Parent hash</th>
          <td><a href="/get_block?entry={{data['parent_hash']}}">{{data["parent_hash"]}}</a></td>
      </tr>
      <tr>
          <th scope="col">Child hash</th>
          <td><a href="/get_block?entry={{data['child_hash']}}">{{data["child_hash"]}}</a></td>
      </tr>
      <tr>
          <th scope="col">Block IP</th>
          <td><a href="http://{{data['block_ip']}}:9173">{{data["block_ip"]}}</a></td>
      </tr>
      <tr>
          <th scope="col">Block creator</th>
          <td><a href="/get_account?entry={{data['block_creator']}}">{{data["block_creator"]}}</a></td>
      </tr>
      <tr>
          <th scope="col">Block timestamp</th>
          <td>{{data["block_timestamp"]}}</td>
      </tr>
      <tr>
          <th scope="col">Block reward</th>
          <td>{{data["block_reward"]}}</td>
      </tr>
    </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Recipient</th>
      <th scope="col">Amount</th>
      <th scope="col">Fee</th>
      <th scope="col">TxID</th>

    </tr>
  </thead>

    <tbody>

    {% for transaction in data["block_transactions"]%}
        <tr>
          <td><a href="/get_account?entry={{transaction['sender']}}">{{transaction["sender"]}}</a></td>
          <td><a href="/get_account?entry={{transaction['recipient']}}">{{transaction["recipient"]}}</a></td>
          <td>{{transaction["amount"]}}</td>
          <td>{{transaction["fee"]}}</td>
          <td><a href="/get_transaction?entry={{transaction['txid']}}">{{transaction["txid"]}}</a></td>
        </tr>
    {% end %}

    </tbody>
</table>



</div>




</body>
</html>