<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Node {{ip}}</title>
    <script crossorigin="anonymous"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            src="static/bootstrap.bundle.min.js"></script>
</head>
<body>

<ul class="list-group">
    <li class="list-group-item"><a href="/status">status</a></li>
    <li class="list-group-item"><a href="/status_pool">status_pool</a></li>
    <br>
    <li class="list-group-item"><a href="/get_account">get_account</a></li>
    <li class="list-group-item"><a href="/get_transaction">get_transaction</a></li>
    <li class="list-group-item"><a href="/get_transactions_of_account">get_transactions_of_account</a></li>
    <li class="list-group-item"><a href="/get_block_number">get_block_number</a></li>
    <li class="list-group-item"><a href="/get_block">get_block</a></li>
    <li class="list-group-item"><a href="/get_producer_set_from_hash">get_producer_set_from_hash</a></li>
    <br>
    <li class="list-group-item"><a href="/get_latest_block">get_latest_block</a></li>
    <li class="list-group-item"><a href="/get_blocks_before">get_blocks_before</a></li>
    <li class="list-group-item"><a href="/get_blocks_after">get_blocks_after</a></li>
    <br>
    <li class="list-group-item"><a href="/transaction_pool">transaction_pool</a></li>
    <li class="list-group-item"><a href="/transaction_hash_pool">transaction_hash_pool</a></li>
    <li class="list-group-item"><a href="/transaction_buffer">transaction_buffer</a></li>
    <li class="list-group-item"><a href="/user_transaction_buffer">user_transaction_buffer</a></li>
    <br>
    <li class="list-group-item"><a href="/peers">peers</a></li>
    <li class="list-group-item"><a href="/unreachable">unreachable</a></li>
    <br>
    <li class="list-group-item"><a href="/block_producers">block_producers</a></li>
    <li class="list-group-item"><a href="/block_hash_pool">block_hash_pool</a></li>
    <li class="list-group-item"><a href="/block_producers_hash_pool">block_producers_hash_pool</a></li>
    <br>
    <li class="list-group-item"><a href="/trust_pool">trust_pool</a></li>

    <br>
    <li class="list-group-item"><a href="/announce_peer">announce_peer</a></li>
    <li class="list-group-item"><a href="/log">log</a></li>
    <li class="list-group-item"><a href="/terminate">terminate</a></li>
</ul>

</body>
</html>